:root {
    --primary-color: rgb(250, 237, 58);
    --secondary-color: rgb(0, 26, 196);
    --accent1-color: rgb(13, 29, 16);
    --accent2-color: rgb(131, 16, 146);
    --heading-font: Arial, Helvetica, sans-serif;
    --body-font: "Lucida Console", "Courier New", monospace;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}
header img {
    order: 1;
    padding: 15px;
    width: 130px;
}
header li {
    border: black solid 1px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1px 2px;
}
nav {
    order: 2;
    display: flex;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav a {
    text-decoration: none;
    color: var(--accent2-color);
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

h1, h2 {
    font-family: var(--heading-font);
    color:var(--secondary-color);
}
p, section, article {
    margin: 16px;
    padding: 8px;
}
footer nav img {
    width: 50px;
    height: auto;
}
footer {
    text-align: center;
    display: flex;
    justify-content: flex-end;
}
/* class selectors */
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero article {
    position: absolute;
    top: 150px;
    border: black solid 2px;
    background-color: rgba(199, 184, 51, 0.8);
    color: black;
}
.hero article img {
    float: right;
    width: 125px;
}
.history {
    border: black solid 2px;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "top top top"
        "p1 hist p2";
    gap: 10px;
}
.history h2 {
    grid-area: top;
}
.p1 {
    order: 1;
    grid-area: p1;
}
.history img {
    order: 2;
    max-width: 300px;
    padding-top: 70px;
}
.p2 {
    order: 3;
    grid-area: p2;
}
.adventure {
    border: black solid 2px;
    background-color: var(--primary-color);
}
.adventure img {
    max-width: 125px;
}
.figures {
    display: flex;
    justify-content: space-evenly;
}
.figures figure {
    padding: 10px;
}
.contact-info {
    text-align: center;
}
.contact-main {
    display: grid;
    grid-template-columns: auto auto;
}
.contact-main label {
    display: block;
}
.contact-main form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid var(--main-color);
    border-radius: 0.5rem;
    display: grid;
}
.radio-choices {
    text-align: right;
}
