:root {
    --primary-color: rgb(250, 237, 58);
    --secondary-color: rgb(0, 26, 196);
    --accent1-color: rgb(13, 29, 16);
    --accent2-color: rgb(131, 16, 146);
    --heading-font: Arial, Helvetica, sans-serif;
    --body-font: "Lucida Console", "Courier New", monospace;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: auto;
    margin: 0 auto;
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    border-bottom: black solid 2px;
}
header img {
    order: 1;
    width: 130px;
    border: black solid 1px;
    margin: 10px
}
header li {
    border: black solid 1px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1px 2px;
}
nav {
    order: 2;
    display: flex;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav a {
    text-decoration: none;
    color: var(--accent2-color);
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
h2 {
    text-align: center;
}

h1, h2 {
    font-family: var(--heading-font);
    color:var(--secondary-color);
}
p, section, article {
    margin: 16px;
    padding: 8px;
}
footer nav img {
    width: 50px;
    height: auto;
}
footer {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    border-top: black solid 2px;
    background-color: var(--primary-color);
}
/* class selectors */
.socialmedia a {
    text-decoration: none;
    padding: 5px;
}
.hero {
    position: relative;
}
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero article {
    position: absolute;
    top: 150px;
    border: black solid 2px;
    background-color: rgba(250, 237, 58, 0.8);
    color: black;
}
.hero article img {
    float: right;
    width: 125px;
}
.action {
    position: absolute;
    top: 150px;
    border: black solid 2px;
    background-color: rgba(250, 237, 58, 0.8);
    color: black;
    right: 25px;
    max-width: 125px;
}
.action figcaption {
    color: var(--secondary-color);
    font-size: large;
    text-align: center;
}
.history {
    border: black solid 2px;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "top top top"
        "p1 hist p2";
    gap: 10px;
}
.history h2 {
    grid-area: top;
}
.p1 {
    order: 1;
    grid-area: p1;
}
.history img {
    order: 2;
    max-width: 300px;
    padding-top: 70px;
}
.p2 {
    order: 3;
    grid-area: p2;
}
.adventure {
    border: black solid 2px;
    background-color: var(--primary-color);
}
.adventure img {
    max-width: 125px;
}
.adventure .figures {
    display: flex;
    justify-content: space-evenly;
}
.adventure .figures figure {
    padding: 10px;
}
.contact-info {
    text-align: center;
}
.contact-main {
    display: grid;
    grid-template-columns: auto auto;
}
.contact-main label {
    display: block;
}
.contact-main form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid var(--main-color);
    border-radius: 0.5rem;
    display: grid;
}
.radio-choices {
    text-align: right;
}
.offers {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-template-areas: 
        "top top"
        "p1 p2";
}
.offers h2 {
    grid-area: top;
    border: black solid 2px;
    background-color: var(--primary-color);
    margin: 2px;
}
.offers h3 {
    color: var(--accent1-color)
}
.offers figure, .offers img{
    max-width: 400px;
    color: var(--accent2-color);
    margin: 2px;
}
.rivers, .equipment {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    background-color: var(--primary-color);
    border: black solid 2px;
    margin: 5px;
}
.dedication {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: var(--primary-color);
    border: black solid 2px;
}
.dedication img {
    max-height: 500px;
}
.dedication .message {
    text-align: center;
    max-width: 300px;
    padding-top: 100px;
    background-color: rgba(255, 255, 255, 0.5);
}
.dedication form {
    margin: 0 auto;
    padding: 20px;
    border: 2px solid var(--main-color);
    display: grid;
    grid-template-rows: repeat(4, 100px);
}
.dedication form label {
    max-width: 100px;
}
.trip-info {
    display: grid;
    grid-template-areas: 
        "top top"
        "p1 p2";
}
.trips {
    grid-area: p1;
    max-width: 700px;
}
.trips div {
    background-color: var(--primary-color);
    border: black solid 2px;
    margin: 15px;
    display: grid;
    grid-template-areas: 
        "top top top"
        "p1 p2 p3";
    height: 300px;
}
.trips table {
    background-color: #fff;
    border: black solid 2px;
    grid-area: p2;
    margin: 10px;
}
.trips h2 {
    grid-area: top;
    margin-top: 10px;
}
.trips img {
    max-width: 300px;
    margin: 10px;
    grid-area: p1;
}
.trips .book img{
    max-width: 75px;
}
.trips h3 {
    color: var(--secondary-color);
    font-size: larger;
}
.descriptions {
    grid-area: p2;
    background-color: var(--primary-color);
    border: black solid 2px;
}
.descriptions h2 {
    color: var(--accent2-color);
}
.descriptions p {
    background-color: rgba(255, 255, 255, 0.5);
    border: black solid 2px;
    margin: 2px;
    color: var(--accent1-color)
}
.equipment-info {
    display: grid;
    grid-template-areas: 
        "top top"
        "p1 p2";
    background-color: var(--primary-color);
    border: black solid 2px;
}
.equipment-info h2 {
    grid-area: top;
}
.equipment-info p {
    grid-area: p1;
}
.equipment-info ul {
    grid-area: p2;
    background-color: rgba(255, 255, 255, 0.5);
    border: black solid 2px;
    padding: 10px;
    padding-left: 20px;
}