:root {
    --main-color: rgb(0, 1, 45);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--main-color);
    background: #fff;
    font-size: 1.2rem;
}
header h1{
    font-size: 2rem;
    text-align: center;
}
form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid var(--main-color);
    border-radius: 0.5rem;
    background-color: #abe;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: 0.5rem;
    padding: 20px;
}
legend {
    color: darkgreen;
}
label, input, button, select, textarea {
    font-family: monospace;
    font-size: 1.3rem;
}
label {
    text-align: left;
    padding-right: 50px;
}
input, select, textarea {
    padding: 20px;
    font-size: 1.5rem;
}
input[type="checkbox"] {
    width: 30px;
    height:30px;
}
button {
    margin: 1rem;
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid #fff;
}
button:hover {
    background-color: darkgreen;
}
footer {
    color: red;
}