:root {
    --primary-color:#1f1d29;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    max-width: 840px;
    order: 2;
}
nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}
h1 {
    color: var(--primary-color);
    border-bottom: solid var(--primary-color) 2px;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 0;
}
aside {
    width: 15em;
    text-align: center;
    order: 1;
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
  position: absolute;
  left: 50px;
  font-family: cursive;
}
footer {
    text-align: center;
    border-top: 3px solid var(--primary-color);
    margin-top: 20px;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 2px solid rgb(0 0 0 / 0.5);
    padding: 1rem;
    background-color: #abe;
    color: var(--primary-color);
    position: relative;
}
.grid {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}