main {
    max-width: 840px;
}
nav {
    background-color: #1f1d29;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: #1f1d29;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
aside {
    width: 15rem;
    margin: 2px;
    border: 2px solid rgb(0 0 0 / 0.5);
    padding: 2rem;
    background-color: #abe;
    color: #1f1d29;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    text-align: center;
    border-top: 3px solid #1f1d29;
    margin-top: 20px;
}