:root {
    --primary-color:#1f1d29;
}
main {
    max-width: 840px;
}
nav {
    background-color: var(--primary-color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--primary-color);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
aside {
    width: 15rem;
    margin: 2px;
    border: 2px solid rgb(0 0 0 / 0.5);
    padding: 2rem;
    background-color: #abe;
    color: var(--primary-color);
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    text-align: center;
    border-top: 3px solid var(--primary-color);
    margin-top: 20px;
}