.callout {
	max-width: 500px;
    margin: 10px;
    border: 5px;
    padding: 20px;
    background-color: rgb(26, 52, 122);
    color: white;
}

.callout img {
	float: right;
    margin: 15px;
    border: 1px solid black;
    padding: 3px;
    background-color: grey;
    width: 100px;
    height: auto;
}

blockquote {
	margin: 0px;
}

cite {
	display: block;
    border-top: dotted white;
    padding-top: 5px;
    text-align: right;
    font-size: smaller;
}